.footer {
    width: 100%;
    padding: 10px 20px;
    background-color: #d9c89e;

    p {
        padding: 10px 0;
        font-size: 18px;
        letter-spacing: 1px;
        color: #fff;
        text-align: center;
    }
}

@media (max-width: 500px){
    .footer {
        p {
            padding: 0;
            font-size: 15px;
        }
    }
}