.hero {
    width: 100%;
    height: 100vh;
    position: relative;

    .container {
        .row {
            .backgroundImg {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .heroTitle {
                width: 100%;
                font-size: 40px;
                font-weight: 500;
                color: #070709;
                position: absolute;
                top: 80%;
                left: 0;
                z-index: 1;
                text-align: center;
            }
        }
    }
}

@media (max-width: 800px){
    .hero {
        .container {
            .row {
                .backgroundImg {    
                    img {
                        object-position: 20%;
                    }
                }
    
                .heroTitle {
                    font-size: 35px;
                }
            }
        }
    }
}

@media (max-width: 600px){
    .hero {
        .container {
            .row {
                .backgroundImg {    
                    img {
                        object-position: 30%;
                    }
                }
    
                .heroTitle {
                    padding: 0 20px;
                    font-size: 25px;
                    font-weight: 400;
                }
            }
        }
    }
}