.productsPage {
    width: 100%;
    min-height: 100vh;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #171719;

    .productsPageTitle {
        width: 100%;
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 2px;
        color: #fff;
    }

    .searchInp{
        width: 50%;
        height: 60px;
        padding: 0 20px;
        font-size: 18px;
        color: #fff;
        background-color: #00000050;
        border: 1px solid transparent;
        outline: none;
        border-radius: 10px;
        letter-spacing: 1.5px;

        &::placeholder{
            color: #ffffff90;
        }

        &:focus{
            border: 1px solid #ffffff90;
        }
    }

    .searchNotification{
        width: 100%;
        font-size: 22px;
        text-align: center;
        letter-spacing: 1.5px;
        color: #fff;
        margin-top: 80px;
    }

    table {
        width: 80%;
        margin: 0 auto;
        border-collapse: collapse;

        thead {
            th {
                letter-spacing: 1px;
                text-align: start;
                color: #fff;
                padding: 10px;
                border: 1px solid #ffffff50;
            }
        }

        tbody {
            tr {
                td {
                    letter-spacing: 1px;
                    text-align: start;
                    color: #fff;
                    padding: 10px 20px;
                    border: 1px solid #ffffff50;

                    &.img{
                        width: 150px;
                        height: 150px;

                        img{
                            width: 100%;
                            object-fit: contain;
                        }
                    }

                    &.details{
                        height: 162px;
                        display: inline-block;
                        overflow-y: auto;
                        font-size: 14px;
                        line-height: 140%;
                        letter-spacing: 1px;
                    }

                    &.price{
                        white-space: nowrap;
                    }

                    &.actions{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        height: 162px;

                        button, a{
                            width: 40px;
                            height: 40px;
                            border: 1px solid #000;
                            outline: none;
                            border-radius: 5px;
                            cursor: pointer;
                            transition: all .3s ease;
                            background-color: #fff;
                            color: #000;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            &:hover{
                                background-color: #272729;

                                svg{
                                    color: #fff;
                                }
                            }

                            svg{
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}